$base-size: 16px;
$radius: 5px;
$btn-width: 144px;
$transition: cubic-bezier(0.4, 0, 0.2, 1);

/* colors */
$primary: #4834d4;
$secondary: #341f97;
$white: #dcdde1;
$black: #2d3436;
$background: #c8d6e5;
